
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="menu-wrap">
				<ul>
					<li><a href="">Фото</a></li>
					<li><a href="">Видео</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Услуги</a></li>
					<li><a href="">Отзывы</a></li>
				</ul>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/ico-soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/ico-soc-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/ico-soc-inst.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/ico-soc-yt.svg" alt="">
				</a>
			</div>
		</div>
		<div class="copy-wrap">
			© 2021 svadebno.tv
		</div>
	</div>
</footer>
<!-- /footer -->

<div id="popup-callback" class="popup-box" style="display: none">
	<div class="popup-title-wrap">
		<div class="main-page-title">Оставьте ваш номер и узнайте свою персональную скидку</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row row-phone">
				<input type="tel" placeholder="+7 XXX XXX XX XX" class="inp-large">
			</div>
			<div class="frm-row row-phones">
				или позвоните сами <br><a href="tel:89265977531" class="link-main">+7 (926) 597-75-31</a> (антон) <br><span class="phone-sep">/</span> <a href="tel:89265977936" class="link-main">+7 (926) 597-79-36</a> (роман)
			</div>
			<div class="frm-row-submit">
				<div class="frm-row row-info">
					<div class="frm-field">
						<div class="frm-title">Нажав кнопку Отпарвить вы соглашаетесь на использование ваших персональных данных</div>
					</div>
				</div>
				<button type="submit" class="elm-sticker st-color">
					<span class="st-title">отправить</span>
				</button>
			</div>
		</form>
	</div>
</div>
<div id="popup-order" class="popup-box" style="display: none">
	<div class="popup-title-wrap">
		<div class="main-page-title">Оформление заказа</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<label>Выберите дату</label>
					<div class="frm-field-input">
						<input type="text" placeholder="25.06.2021">
						<div class="frm-ico">
							<img src="./img/icons/ico-calendar.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label>Укажите контактный номер</label>
					<div class="frm-field-input">
						<input type="tel" placeholder="+7 XXX XXX XX XX">
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label>Выберите услугу</label>
					<div class="frm-field-input">
						<select>
							<option value="">пакет стандарт</option>
							<option value="">пакет стандарт</option>
							<option value="">пакет стандарт</option>
							<option value="">пакет стандарт</option>
							<option value="">пакет стандарт</option>
						</select>
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-row row-info">
					<div class="frm-field">
						<div class="frm-title">Нажав кнопку Отпарвить вы соглашаетесь на использование ваших персональных данных</div>
					</div>
				</div>
				<button type="submit" class="elm-sticker st-color">
					<span class="st-title">оформить</span>
				</button>
			</div>
		</form>
	</div>
</div>

<div id="popup-prices" class="popup-prices-box" style="display: none">
	<div class="inner-wrap">
		<div class="popup-title-wrap">
			<div class="page-subtitle">Цены на услуги фотографа</div>
		</div>
		<div class="popup-content-wrap">
			<div class="items-wrap">
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-price">
						<div class="main-page-title">мини</div>
						<div class="price-wrap">
							<div class="elm-price">15 000 ₽</div>
						</div>
						<div class="price-desc">
							<ul>
								<li>Съемка до 2 часов</li>
								
								<li>Полная обработка всех фотогорафий под печать (50-150&nbsp;шт)</li>
								
								<li>Отправка готового материала через интернет</li>
							</ul>
						</div>
						<div class="price-info">
							<div class="info-title">Все подробности по телефонам:</div>
							<div class="info-phone">
								<a href="tel:89265977531">+7 (926) 597-75-31</a>
								антон
							</div>
							<div class="info-phone">
								<a href="tel:89265977936">+7 (926) 597-79-36</a>
								Роман
							</div>
							<a href="" class="elm-sticker st-color" data-fancybox data-src="#popup-order">
								<span class="st-title">заказать</span>
							</a>
						</div>
					</div>
				</div>
				<!--/item wrap-->
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-price">
						<div class="main-page-title">лайт</div>
						<div class="price-wrap">
							<div class="elm-price">30 000 ₽</div>
						</div>
						<div class="price-desc">
							<ul>
								<li>Съемка до 5 часов</li>
								
								<li>Полная обработка всех фотогорафий под печать (100-300&nbsp;шт)</li>
								
								<li>Отправка готового материала через интернет</li>
							</ul>
						</div>
						<div class="price-info">
							<div class="info-title">Все подробности по телефонам:</div>
							<div class="info-phone">
								<a href="tel:89265977531">+7 (926) 597-75-31</a>
								антон
							</div>
							<div class="info-phone">
								<a href="tel:89265977936">+7 (926) 597-79-36</a>
								Роман
							</div>
							<a href="" class="elm-sticker st-color" data-fancybox data-src="#popup-order">
								<span class="st-title">заказать</span>
							</a>
						</div>
					</div>
				</div>
				<!--/item wrap-->
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-price">
						<div class="main-page-title">Стандарт</div>
						<div class="price-wrap">
							<div class="elm-price">45 000 ₽</div>
						</div>
						<div class="price-desc">
							<ul>
								<li>Съемка до 10 часов</li>
								
								<li>Полная обработка всех фотогорафий под печать (400-800&nbsp;шт)</li>
								
								<li>Отправка готового материала через интернет</li>
							</ul>
						</div>
						<div class="price-info">
							<div class="info-title">Все подробности по телефонам:</div>
							<div class="info-phone">
								<a href="tel:89265977531">+7 (926) 597-75-31</a>
								антон
							</div>
							<div class="info-phone">
								<a href="tel:89265977936">+7 (926) 597-79-36</a>
								Роман
							</div>
							<a href="" class="elm-sticker st-color" data-fancybox data-src="#popup-order">
								<span class="st-title">заказать</span>
							</a>
						</div>
					</div>
				</div>
				<!--/item wrap-->
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-price">
						<div class="main-page-title">премиум</div>
						<div class="price-wrap">
							<div class="elm-price">85 000 ₽</div>
						</div>
						<div class="price-desc">
							<ul>
								<li>Съемка до 12 часов</li>
								
								<li>Полная обработка всех фотогорафий под печать (600-120&nbsp;шт)</li>
								
								<li>2 фотографа</li>
								
								<li>Премиум фотокнига</li>
								
								<li>Фотосъемка в ретро-стиле на&nbsp;Polaroid</li>
								
								<li>Запись фото на flash-накопитель</li>
							</ul>
						</div>
						<div class="price-info">
							<div class="info-title">Все подробности по телефонам:</div>
							<div class="info-phone">
								<a href="tel:89265977531">+7 (926) 597-75-31</a>
								антон
							</div>
							<div class="info-phone">
								<a href="tel:89265977936">+7 (926) 597-79-36</a>
								Роман
							</div>
							<a href="" class="elm-sticker st-color" data-fancybox data-src="#popup-order">
								<span class="st-title">заказать</span>
							</a>
						</div>
					</div>
				</div>
				<!--/item wrap-->
			</div>
		</div>
	</div>
</div>