
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-wrap">
			<div class="phone-wrap">
				<a href="" class="btn-action-ico button-round ico-phone"></a>
			</div>
			<div class="menu-wrap js-popup-wrap">
				<a href="" class="btn-action-ico button-round ico-menu js-btn-toggle">
					<span class="button-title">Меню</span>
				</a>
				<div class="menu-block js-popup-block">
					<div class="menu-outer-wrap">
						<div class="menu-left-wrap">
							<div class="menu-inner-wrap">
								<ul>
									<li><a href=""><span class="button-title">ФОто</span></a></li>
									<li><a href=""><span class="button-title">Видео</span></a></li>
									<li><a href=""><span class="button-title">о нас</span></a></li>
									<li><a href=""><span class="button-title">отзывы</span></a></li>
									<li><a href=""><span class="button-title">цены</span></a></li>
									<li><a href=""><span class="button-title">услуги</span></a></li>
								</ul>
							</div>
						</div>
						<div class="menu-right-wrap">
							<div class="menu-right-inner-wrap">
								<div class="contacts-wrap">
									<div class="menu-title">Контакты</div>
									<div class="contact-wrap">
										<div class="cnt-phone">
											<a href="tel:89265977531" class="link-main">+7 (926) 597-75-31</a>
											<div class="cnt-title">Антон</div>
										</div>
										<div class="cnt-phone">
											<a href="tel:89265977936" class="link-main">+7 (926) 597-79-36</a>
											<div class="cnt-title">Роман</div>
										</div>
									</div>
								</div>
								<div class="soc-wrap">
									<div class="menu-title">мы в соц. сетях</div>
									<ul>
										<li><a href="" class="link-main">Vkontakte</a></li>
										<li><a href="" class="link-main">Facebook</a></li>
										<li><a href="" class="link-main">Instagram</a></li>
										<li><a href="" class="link-main">YouTube</a></li>
									</ul>
								</div>
								<div class="info-wrap">
									<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
									<div class="elm-sticker">
										<div class="st-title">Узнать свою скидку</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-wrap">
						<p>© 2021 svadebno.tv</p>
					</div>
				</div>
			</div>
		</div>
		<div class="phones-wrap">
			<div class="phone-inner-wrap">
				<div class="phone-title">антон</div>
				<div class="phone-number">
					<a href="tel:89265977531">+7 (926) 597-75-31</a>
				</div>
			</div>
			<div class="phone-inner-wrap">
				<div class="phone-title">Роман</div>
				<div class="phone-number">
					<a href="tel:89265977936">+7 (926) 597-79-36</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->